<app-entity-layout [subtitle]="'See information about all Monthly Fees'" [(searchTerm)]="searchTerm"
    [searchPlaceholder]="'Search Box...'" [addButtonLabel]="'Add Fee'" [addButtonIcon]="'Finance'"
    [currentPage]="currentPage()" [totalPages]="totalPages()" (onAdd)="openAddModal()"
    (onPageChange)="onPageChange($event)">
    <!-- Accordion -->
    <app-accordion-table [boxes]="filteredAccordionData()" [columns]="tableColumns" (edit)="openEditModal($event)"
        (delete)="openDeleteModal($event)" />
    <!-- Add MonthlyFee Modal -->
    @if(showAddModal()){
    <app-monthly-fee-add [cashboxOptions]="optionSelectCashboxId()" [memberOptions]="optionSelectMemberId()"
        (close)="showAddModal.set(false)" (save)="addEntity($event)" />
    }
    <!-- Edit MonthlyFee Modal -->
    @if (showEditModal() && selectedEntity() !== null) {
    <app-monthly-fee-edit [entity]="selectedEntity()!" [cashboxOptions]="optionSelectCashboxId()"
        [memberOptions]="optionSelectMemberId()" (close)="showEditModal.set(false)" (edit)="updateEntity($event)" />
    }
    <!-- Delete MonthlyFee Modal -->
    @if (showDeleteModal() && selectedEntity() !== null) {
    <app-monthly-fee-delete [entity]="selectedEntity()!" (close)="showDeleteModal.set(false)"
        (delete)="deleteEntity($event)" />
    }
</app-entity-layout>