<app-modal-shell (close)="onCancel()" (save)="submitForm()">
    <span modal-title>Add Member</span>
    <div modal-body class="flex flex-col gap-4">
        <!--FirstName-->
        <app-form-input label="First Name" name="firstName" [required]="true" [(model)]="entity().firstName"
            (modelChange)="patchEntityAdd({ firstName: $event })" placeholder="Add a FirstName. Ej:Kiara"
            inputClass="w-full" />
        <!--LastName-->
        <app-form-input label="Last Name" name="lastName" [required]="true" [(model)]="entity().lastName"
            (modelChange)="patchEntityAdd({ lastName: $event })" placeholder="Add a LastName. Ej:Flores"
            inputClass="w-full" />
        <!--Slots-->
        <app-form-input label="Slots" name="slots" [required]="true" [(model)]="entity().slot"
            (modelChange)="patchEntityAdd({ slot: $event })" placeholder="Add a Slots. Ej:1/4" inputClass="w-full" />
        <!--Status-->
        <app-form-select label="Status" name="status" [required]="true" [(model)]="entity().status"
            (modelChange)="patchEntityAdd({ status: $event })" [options]="statuses" selectClass="w-full" />
    </div>
</app-modal-shell>