<app-modal-shell (close)="onCancel()" (save)="submitForm()">
    <span modal-title>Add Cashbox</span>
    <div modal-body class="flex flex-col gap-4">
        <!-- Year -->
        <app-form-select label="Year" name="year" [required]="true" [options]="years" [(model)]="entity().year"
            (modelChange)="patchEntityAdd({year: $event})" selectClass="w-full" />
        <!-- Month -->
        <app-form-select label="Month" name="month" [required]="true" [options]="months" [(model)]="entity().month"
            (modelChange)="patchEntityAdd({month: $event})" selectClass="w-full" />
    </div>
</app-modal-shell>