<app-modal-shell (close)="onCancel()" (save)="submitForm()">
    <span modal-title>Edit Member</span>
    <div modal-body class="flex flex-col gap-4">
        @if (editEntity(); as _member) {
        <!-- First Name -->
        <app-form-input label="First Name" name="firstName" [(model)]="_member.firstName" [required]="true"
            placeholder="Add a FirstName" inputClass="w-full" (modelChange)="patchEntityEdit({ firstName: $event })" />
        <!-- Last Name -->
        <app-form-input label="Last Name" name="lastName" [(model)]="_member.lastName" [required]="true"
            placeholder="Add a LastName" inputClass="w-full" (modelChange)="patchEntityEdit({ lastName: $event })" />
        <!-- Slots -->
        <app-form-input label="Slots" name="slots" [(model)]="_member.slot" [required]="true" placeholder="Add a Slots"
            inputClass="w-full" (modelChange)="patchEntityEdit({ slot: $event })" />
        <!-- Status -->
        <app-form-select label="Status" name="status" [(model)]="_member.status" [options]="statuses"
            selectClass="w-full" (modelChange)="patchEntityEdit({ status: $event })" [required]="true" />
        }
    </div>
</app-modal-shell>