<div>
    <label class="block text-sm font-medium text-white">{{ label() }}</label>
    <input
    [type]="type()"
    [ngModel]="model()"
    (ngModelChange)="modelChange.emit($event)" 
    [name]="name()"
    [required]="required()"
    [attr.placeholder]="placeholder()"
    [ngClass]="['mt-1 rounded-md border border-gray-300 px-3 py-2 text-sm
            placeholder-gray-500
            focus:border-caribbean-green focus:outline-none focus:ring-2
            focus:ring-caribbean-green', inputClass() ]"/>
    @if(showError()){
    <div  class="text-red-500 text-xs mt-1">
        {{ label() }} is required
    </div>
    }
</div>