<app-modal-shell (close)="onCancel()" (save)="submitForm()">
    <span modal-title>Edit Monthly Fee</span>
    <div modal-body class="flex flex-col gap-4">
        @if (editEntity(); as fee) {
        <!-- CashboxId -->
        <app-form-select label="Cashbox ID" name="cashboxId" [required]="true" [options]="cashboxOptions()"
            [model]="fee.cashBoxId" selectClass="w-full" (modelChange)="patchEntityEdit({ cashBoxId: $event })" />
        <!-- MemberId -->
        <app-form-select label="Member ID" name="memberId" [required]="true" [options]="memberOptions()"
            [model]="fee.member" selectClass="w-full" (modelChange)="patchEntityEdit({ member: $event})" />
        <!-- Assigned Amount -->
        <app-form-input label="Assigned Amount" name="assignedAmount" type="number"
            placeholder="Add a Assigned Amount. Ej: 35000" [required]="true" [model]="fee.assignedAmount"
            inputClass="w-full" (modelChange)="patchEntityEdit({ assignedAmount: $event  })" />
        <!-- Paid -->
        <app-form-input label="Paid" name="paid" type="number" [required]="true" [model]="fee.paid" inputClass="w-full"
            (modelChange)="patchEntityEdit({ paid: $event })" />
        <!-- Status -->
        <app-form-select label="Status" name="status" [required]="true" [options]="statusOptions" [model]="fee.status"
            selectClass="w-full" (modelChange)="patchEntityEdit({ status: $event })" />
        }
    </div>
</app-modal-shell>