<div class="relative">
  <input
    [value]="value()"
    (input)="onInput($any($event.target).value)"
    type="text"
    class="peer w-full rounded-md border border-white bg-transparent px-3 py-2 pr-9 text-sm placeholder:text-blue-gray-400 focus:border-1 focus:border-caribbean-green focus:outline-none"
    [placeholder]="placeholder()"
    aria-label="Search"
  />

  <!-- Botón clear -->
  @if (value()) {
    <button
      type="button"
      class="absolute right-2 top-1/2 -translate-y-1/2 p-1 rounded hover:bg-white/10"
      (click)="clear()"
      aria-label="Clear search"
    >
      <svg class="w-4 h-4">
        <use [attr.href]="'/icons/sprite.svg#Close'" />
      </svg>
    </button>
  }
</div>
