<app-entity-layout [title]="'Members'" [subtitle]="'See information about all Monthly expense'" [(searchTerm)]="searchTerm"
    [searchPlaceholder]="'Search Member...'" [addButtonLabel]="'Add Member'" [addButtonIcon]="'AddMember'"
    [currentPage]="currentPage()" [totalPages]="totalPages()" (onAdd)="openAddModal()"
    (onPageChange)="onPageChange($event)">
    <!-- Tabla -->
    <app-generic-table [columns]="tableColumns" [data]="tableData()" (edit)="openEditModal($event)"
            (delete)="openDeleteModal($event)" />
    <!-- Add Member Modal -->
    @if (showAddModal()) {
        <app-member-add (close)="showAddModal.set(false)" (save)="addEntity($event)" />
    }
    <!-- Edit Member Modal -->
    @if (showEditModal() && selectedEntity() !== null) {
        <app-member-edit [entity]="selectedEntity()!" (close)="showEditModal.set(false)"
        (edit)="updateEntity($event)" />
    }
    <!-- Delete Member Modal -->
    @if (showDeleteModal() && selectedEntity() !=null) {
        <app-member-delete [entity]="selectedEntity()!" (close)="showDeleteModal.set(false)"
        (delete)="deleteEntity($event)" />
    }  
</app-entity-layout>