<div class="flex flex-col sm:flex-row items-center justify-between gap-3 p-4 border-t border-blue-gray-50">
    <p class="text-sm text-blue-gray-900">Page {{ currentPage() }} of {{ totalPages() }}</p>
    <div class="flex gap-2">
        <button (click)="previousPage()" [disabled]="currentPage() === 1" aria-label="Previous Page"
            class="rounded-lg border border-caribbean-green py-2 px-4 text-xs font-bold uppercase text-caribbean-green hover:opacity-75">
            Previous
        </button>
        <button (click)="nextPage()" [disabled]="currentPage() === totalPages()" aria-label="Next Page"
            class="rounded-lg border border-caribbean-green py-2 px-4 text-xs font-bold uppercase text-caribbean-green hover:opacity-75">
            Next
        </button>
    </div>
</div>