<app-entity-layout [subtitle]="'See information about all Cashboxes'" [(searchTerm)]="searchTerm"
    [searchPlaceholder]="'Search Cashbox...'" [addButtonLabel]="'Add Cashbox'" [addButtonIcon]="'AddCashbox'"
    [currentPage]="currentPage()" [totalPages]="totalPages()" (onAdd)="openAddModal()"
    (onPageChange)="onPageChange($event)">
    <!-- Totales -->
    <div class="flex flex-wrap items-center gap-4 text-white text-base font-semibold mb-4">
        <span class="text-green-400">
            Total Collected: {{ totals().amountCollected | currency }}
        </span>
        <span class="text-white/70">|</span>
        <span class="text-red-400">
            Total Spent: {{ totals().spent | currency }}
        </span>
        <span class="text-white/70">|</span>
        <span class="text-yellow-300">
            Balance: {{ totals().balance | currency }}
        </span>
    </div>
    <!-- Tabla -->
    <app-generic-table [columns]="tableColumns" [data]="tableData()" (edit)="openEditModal($event)"
        (delete)="openDeleteModal($event)" />
    <!-- Add Cashbox Modal -->
    @if (showAddModal()) {
    <app-cashbox-add (close)="showAddModal.set(false)" (save)="addEntity($event)" />
    }
    <!-- Edit Cashbox Modal -->
    @if (showEditModal() && selectedEntity() !== null) {
    <app-cashbox-edit [entity]="selectedEntity()!" (close)="showEditModal.set(false)" (edit)="updateEntity($event)" />
    }
    <!-- Delete Cashbox Modal -->
    @if (showDeleteModal() && selectedEntity() !== null) {
    <app-cashbox-delete [entity]="selectedEntity()!" (close)="showDeleteModal.set(false)"
        (delete)="deleteEntity($event)" />
    }
</app-entity-layout>