<app-modal-shell (close)="onCancel()" (save)="submitForm()">
  <span modal-title>Edit Monthly Expense</span>
  <div modal-body class="flex flex-col gap-4">
    @if (editEntity(); as expense) {
    <!-- CashboxId -->
    <app-form-select label="Cashbox ID" name="cashboxId" [required]="true" [options]="cashboxOptions()"
      [(model)]="expense.cashBoxId" (modelChange)="patchEntityEdit({ cashBoxId: $event })" selectClass="w-full" />
    <!-- Amount -->
    <app-form-input label="Amount" name="amount" type="number" placeholder="Add a Amount. Ej: 1000" [required]="true"
      [(model)]="expense.amount" (modelChange)="patchEntityEdit({ amount: $event })" inputClass="w-full" />
    <!-- Date -->
    <app-form-input label="Date" name="date" type="date" [required]="true" [(model)]="expense.date"
      (modelChange)="patchEntityEdit({ date: $event })" inputClass="w-full" />
    <!-- Description -->
    <app-form-textarea label="Description" name="description" [required]="true" [(model)]="expense.description"
      (modelChange)="patchEntityEdit({ description: $event })" placeholder="Add a description of the expense"
      textareaClass="w-full" />
    }
  </div>
</app-modal-shell>