<div class="relative flex flex-col w-full h-full text-white shadow-md rounded-xl bg-clip-border">
    <div class="relative mx-4 sm:mx-8 mt-4 overflow-hidden text-white rounded-none bg-clip-border">
        <div class="flex flex-col md:flex-row items-start md:items-center justify-between gap-4 mb-6">
            <div>
                <p class="mt-1 text-sm text-white/80">
                    See information about all Monthly expense
                </p>
            </div>
            <div class="flex flex-col md:flex-row items-stretch gap-3 w-full md:w-auto">
                <!-- Search -->
                <div class="relative w-full md:w-72">
                    <app-search-input [(searchTerm)]="searchTerm" (onSearch)="filteredAccordionData()" />
                </div>
                <!-- Add MonthlyExpense -->
                <app-add-button label="Add Expense" icon="Finance" (clicked)="showAddModal.set(true)" />
                <!-- Add MonthlyExpense Modal -->
                @if (showAddModal()) {
                <app-monthly-expense-add [cashboxOptions]="optionSelectCashboxId()" (close)="showAddModal.set(false)"
                    (save)="addMonthlyExpense($event)" />
                }
            </div>
        </div>
    </div>
    <!-- Accordion -->
    <div class="p-4 sm:p-6 overflow-x-auto">
        @if (pageData().length > 0) {
        <app-accordion-table [boxes]="pageData()" [columns]="tableColumns" (edit)="openEditModal($event)"
            (delete)="openDeleteModal($event)" />
        } @else {
        <app-not-results-found />
        }
    </div>
    @if (showEditModal() && selectedMonthlyExpense() !== null) {
    <app-monthly-expense-edit [monthlyExpense]="selectedMonthlyExpense()!" [cashboxOptions]="optionSelectCashboxId()"
        (close)="showEditModal.set(false)" (edit)="updateMonthlyExpense($event)" />
    } 
    @if (showDeleteModal() && selectedMonthlyExpense !== null) {
    <app-monthly-expense-delete [monthlyExpense]="selectedMonthlyExpense()!" (close)="showDeleteModal.set(false)"
        (delete)="deleteMonthlyExpense($event)" />
    }
    <!-- Paginación -->
    <app-pagination [currentPage]="currentPage()" [totalPages]="totalPages()" (pageChanged)="onPageChange($event)" />
</div>