<app-entity-layout [subtitle]="'See information about all Monthly expense'" [(searchTerm)]="searchTerm"
    [searchPlaceholder]="'Search Box...'" [addButtonLabel]="'Add Expense'" [addButtonIcon]="'Finance'"
    [currentPage]="currentPage()" [totalPages]="totalPages()" (onAdd)="openAddModal()"
    (onPageChange)="onPageChange($event)">
    <!-- Accordion -->
    <app-accordion-table [boxes]="filteredAccordionData()" [columns]="tableColumns" (edit)="openEditModal($event)"
        (delete)="openDeleteModal($event)" />
    <!-- Add MonthlyExpense Modal -->
    @if (showAddModal()) {
    <app-monthly-expense-add [cashboxOptions]="optionSelectCashboxId()" (close)="showAddModal.set(false)"
        (save)="addEntity($event)" />
    }
    <!-- Edit MonthlyExpense Modal -->
    @if (showEditModal() && selectedEntity() !== null) {
    <app-monthly-expense-edit [entity]="selectedEntity()!" [cashboxOptions]="optionSelectCashboxId()"
        (close)="showEditModal.set(false)" (edit)="updateEntity($event)" />
    }
    <!-- Delete MonthlyExpense Modal -->
    @if (showDeleteModal() && selectedEntity() !== null) {
    <app-monthly-expense-delete [entity]="selectedEntity()!" (close)="showDeleteModal.set(false)"
        (delete)="deleteEntity($event)" />
    }
</app-entity-layout>