<app-modal-shell (close)="onCancel()" (save)="submitForm()">
  <span modal-title>Add Monthly Expense</span>
  <div modal-body class="flex flex-col gap-4">
    <!-- CashboxId -->
    <app-form-select label="Cashbox ID" name="cashboxId" [required]="true" [options]="cashboxOptions()"
      [(model)]="entity().cashBoxId" (modelChange)="patchEntityAdd({ cashBoxId: $event })" selectClass="w-full" />
    <!-- Amount -->
    <app-form-input label="Amount" name="amount" type="number" placeholder="Add a Amount. Ej: 1000" [required]="true"
      [(model)]="entity().amount" (modelChange)="patchEntityAdd({ amount: $event })" inputClass="w-full" />
    <!-- Date -->
    <app-form-input label="Date" name="date" type="date" [required]="true" [(model)]="entity().date"
      (modelChange)="patchEntityAdd({ date: $event })" inputClass="w-full" />
    <!-- Description -->
    <app-form-textarea label="Description" name="description" [required]="true" [(model)]="entity().description"
      (modelChange)="patchEntityAdd({ description: $event })" placeholder="Add a description of the expense"
      textareaClass="w-full" />
  </div>
</app-modal-shell>